# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: 'main'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [codecov-validator]
  submodules: false

# hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-toml
    name: Check TOML
  - id: check-yaml
    name: Check YAML
  - id: check-xml
    name: Check XML
    files: \.(xml|rdf|ttl)$
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: ^.*\.ttl$
    files: ^requirements.*\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
    exclude: ^.*\.ttl$

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.12.0
  hooks:
  - id: black

- repo: https://github.com/SINTEF/ci-cd
  rev: v2.9.2
  hooks:
  - id: docs-api-reference
    args:
      - --package-dir=turtle_canon
  - id: docs-landing-page

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
  - id: ruff-check
    name: ruff
    args:
      - --fix
      - --show-fixes

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/PyCQA/bandit
  rev: '1.9.2'
  hooks:
  - id: bandit
    args: [-r]
    exclude: ^tests/.*$

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    exclude: ^tests/.*$
    additional_dependencies: ["types-PyYAML"]

- repo: local
  hooks:
  - id: codecov-validator
    name: Validate .codecov.yml
    description: Validate .codecov.yml using codecov's online validation tool.
    entry: ./.github/utils/codecov_validator.sh
    files: ^\.codecov\.yml$
    language: system
