name: CD - Release

on:
  release:
    types:
    - published

jobs:
  build:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/cd_release.yml@v2.9.2
    if: github.repository == 'CasperWA/turtle-canon' && startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    with:
      # General
      git_username: CasperWA
      git_email: "casper.w.andersen@sintef.no"
      release_branch: main

      # Python package
      python_package: true
      package_dirs: turtle_canon
      install_extras: "[dev]"
      python_version_build: "3.10"
      version_update_changes: |
        {package_dir}/__init__.py,__version__ *= *(?:'|\").*(?:'|\"),__version__ = \"{version}\"
        README.md,latest stable version is \*\*.*\*\*\.,latest stable version is **{version}**.
        docs/index.md,latest stable version is \*\*.*\*\*\.,latest stable version is **{version}**.
      build_libs: build
      build_cmd: "python -m build"
      changelog_exclude_labels: skip_changelog,duplicate,question,invalid,wontfix
      publish_on_pypi: false
      upload_distribution: true

      # Documentation
      update_docs: true
      python_version_docs: "3.10"
      doc_extras: "[docs]"
      docs_framework: "mkdocs"
      mkdocs_update_latest: true

    secrets:
      PAT: ${{ secrets.RELEASE_PAT }}

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest

    environment:
      name: release
      url: https://pypi.org/project/turtle-canon

    # The id-token:write permission is required by the PyPI upload action for
    # Trusted Publishers
    permissions:
      id-token: write

    steps:
      - name: Download distribution
        uses: actions/download-artifact@v7
        with:
          name: dist  # The artifact will always be called 'dist'
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
