name: CI - Activate auto-merging for bot PRs

on:
  pull_request_target:
    branches: [main]

jobs:
  update-dependencies-branch:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/ci_automerge_prs.yml@v2.8.2
    if: github.repository_owner == 'CasperWA' && ( ( startsWith(github.event.pull_request.head.ref, 'dependabot/') && github.actor == 'dependabot[bot]' ) || ( github.event.pull_request.head.ref == 'pre-commit-ci-update-config' && github.actor == 'pre-commit-ci[bot]' ) )
    with:
      git_username: CasperWA
      git_email: "casper.w.andersen@sintef.no"
    secrets:
      PAT: ${{ secrets.RELEASE_PAT }}
