name: CI/CD - New updates to 'main'

on:
  push:
    branches: [main]

jobs:
  update-deps-branch-and-docs:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/ci_cd_updated_default_branch.yml@v2.7.1
    if: github.repository_owner == 'CasperWA'
    with:
      # General
      git_username: CasperWA
      git_email: "casper.w.andersen@sintef.no"
      default_repo_branch: main

      # Update dependency branch
      update_dependencies_branch: true
      permanent_dependencies_branch: "ci/dependabot-updates"

      # Update documentation
      update_docs: true
      update_python_api_ref: true
      update_docs_landing_page: true
      package_dirs: turtle_canon
      python_version: "3.10"
      doc_extras: "[docs]"
      changelog_exclude_labels: "skip_changelog,duplicate,question,invalid,wontfix"
      docs_framework: mkdocs

    secrets:
      PAT: ${{ secrets.RELEASE_PAT }}
